h1{
  text-align: center;
  font-size: 32px;
  font-family: 'Arial', sans-serif;
  letter-spacing: 1px;
  margin-bottom: 20px;}
body{
  background-color: #141414;
  margin: 0;
  font-family: Arial, ;
}
form{
  background-color: #ffffff;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

iput[type="radio"]{
  opacity: 0;
  width: 0;
  margin: 0;
}
label[for="option-1"],[for="option-2"], [for="option-3"]{
  display: inline-block;
  padding-left: 25px ;
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}