*{
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
}
body{
  background: #efefef;
}
nav{
  background: #1876F2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 5%;


}

.logo {
  width: 42px;
  margin-right: 45px;
}

.nav-left{
  display: flex;
  align-items: center;
}
.nav-left ul li {
  list-style: none;
  display: inline-block;
}
.nav-left ul li img{
  width: 38px;
  margin: 0 15px;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}
.nav-right {
  display: flex;
  align-items: center;
}

.search-box {
  background: #efefef;
  padding: 5px 10px;
  border-radius: 20px;
  display: flex;  align-items: center;
  margin-right: 15px;
  size: 15px;
  width: 150px;
  height: 17px;

}

.search-box input {
  border: none;
  outline: none;
  width: 150px;
  background: transparent;
  font-family: 'poppins', sans-serif;
  font-size: 15px;
  font-weight: 500;
}
.search-box input::placeholder{
  color: #131111;
  font-style:bold ;
  font-size: 15px;
  letter-spacing: 1.5px;
  font-weight: 500;
  text-align: center;
  font-display: swap;


}
.nav-right .search-icon{
  width: 38px;
  margin-right: 10px;
  cursor: pointer;

}
.user-icon{
  width: 55px;
  height: 55px;
  border-radius: 60%;
  margin-left: 10px;
}