*{
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
}
body{
  background: #efefef;
}
nav{
  background: #1876F2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5%;


}

.logo {
  width: 30px;
  margin-right: 45px;
}

.nav-left{
  display: flex;
  align-items: center;
}
.nav-left ul li {
  list-style: none;
  display: inline-block;
}
.nav-left ul li img{
  width: 28px;
  margin: 0 15px;
}
.nav-right {
  display: flex;
  align-items: center;
}

.search-box {
  background: #efefef;
  padding: 5px 10px;
  border-radius: 20px;
  ;

}

.search-box input {
  border: none;
  outline: none;
  width: 150px;
  background: transparent;
}
.search-box input::placeholder{
  color: #999;
  font-style:italic ;
  font-size: 13px;
  letter-spacing: 2.5px;


}
