*{
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
}
body{
  background: #efefef;
}
nav{
  background: #1876F2;
  display: flex;
  align-items: center;
  justify-content: space-between;


}
.logo{
  width: 35px;
  margin-left: 30px;
}
.notification{
  width:30px;
  margin-right: 20%;
}
.inbox{
  width: 30px;

}
.video {
  width: 30px;
}

.nav-left{
  display: flex;
  align-items: center;
}
.nav-left ul li {
  list-style: none;
  display: inline-block;
}
.nav-left ul li img{
  width: 28px;
  margin: 0 15px;
}
