*{
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
}
body{
  background: #efefef;
}
nav{
  background: #1876F2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5%;
  position: sticky;
  top: 0;
  z-index: 100;


}

.logo {
  width: 42px;
  margin-right: 45px;
}

.nav-left, .nav-right {
  display: flex;
  align-items: center;
}
.nav-left ul li {
  list-style: none;
  display: inline-block;
}
.nav-left ul li img{
  width: 38px;
  margin: 0 15px;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}
.nav-right {
  display: flex;
  align-items: center;
}

.search-box {
  background: #efefef;
  padding: 5px 15px;
  border-radius: 20px;
  display: flex;  align-items: center;
  margin-right: 15px;
  size: 15px;
  width: 170px;
  height: 17px;

}

.search-box input {
  border: none;
  outline: none;
  width: 100%;
  background: transparent;
  font-family: 'poppins', sans-serif;
  font-size: 15px;
  font-weight: 500;
  padding: 10px;;
}
.search-box input::placeholder{
  color: #131111;
  font-style:bold ;
  font-size: 15px;
  letter-spacing: 1.5px;
  font-weight: 500;
  text-align: center;
  font-display: swap;
}
.search-box img{
  width: 20px;

}

.nav-right .search-icon{
  width: 38px;
  margin-right: 10px;
  cursor: pointer;
}
.user-icon{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
}
.user-icon:hover{
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.online{
 position: relative;
}
.online::after{
  content: '';
  width: 10px;
  height: 10px;
  background: #41db51;
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  right: 5px;
}
.container{
  display: flex;
  justify-content: space-between;
  padding: 15px 5%;
}
.left-sidebar{

  flex-basis: 25%;
  position: sticky;
  top: 50px;
  align-self: flex-start;
}
.right-sidebar{

  flex-basis: 25%;
  position: sticky;
  top: 50px;
  align-self: flex-start;
}
.main-content{
  flex-basis: 47%;
}
.imp-links a, .shortcuts-links a{
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  color: #626262;
  width: fit-content;
}
.imp-links a img{
  width: 30px;
  margin-right: 15px;
}
.imp-links a:focus{
  background: #cacdd3;
  padding: 5px 10px;
  border-radius: 10px;
}
.imp-links a:last-child:hover{
  color: #1876F2;
   background: #cacdd3;
  padding: 5px 10px;
  border-radius: 10px;
}
.imp-links{
  border-bottom: 1px solid #ccc;
}
.shortcuts-links a img{
  width: 40px;
  border-radius: 4px;
  margin-right: 15px;
}
.shortcuts-links a:hover{
  background: #cacdd3;
  padding: 5px 10px;
  border-radius: 10px;
}
.shortcuts-links a img{
  width: 40px;
  border-radius: 4px;
  margin-right: 15px;
}
.shortcut-links p{
  margin: 25px 0;  font-size: 18px;
  font-weight: 500;
  color: #626262;
}